body {
	background: #445;
	color: #FFF;
}

#cover-title {
  color: #FFF;
}

#main {
	background: linear-gradient(to bottom, rgba(0,0,0,0.66) 100%, transparent), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/336999/shinokubo_test.jpg);
	background-size: cover, cover;
	background-position: center, center;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 2rem;
	display: inline-block;
	padding: 1rem;
	font-weight: 400;
	position: relative;
	opacity: 1;
	transform: scale(1);
	transition: transform 0.5s ease, opacity 1s ease;
}

.is-loading h1 {
	transform: scale(0.9);
	opacity: 0;
}

h1:before,
h1:after {
	height: 2px;
	width: 100%;
	content: "";
	background: white;
	display: block;
	position: absolute;
	transition: width 0.4s ease;
	transition-delay: 0.8s;
}

h1:before {
	top: 0;
	left: 0;
}

h1:after {
	bottom: 0;
	right: 0;
}

.is-loading h1:before,
.is-loading h1:after {
	width: 0;
}


/* Down Arrow */

.arrow a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.arrow a:hover {
  opacity: .5;
}

div#header-down-arrow a {
  padding-top: 60px;
}
div#header-down-arrow a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}


/* Skills Section */
section#skills .container {
  max-width: 480px;
  position: relative;
  margin: 0 auto;
  padding: 0 10px;
  top: 50px;
}
section#skills .container:before, .container:after {
  content: "";
  display: table;
}
section#skills .container:after {
  clear: both;
}

section#skills .header {
  background: #212121;
  position: relative;
  overflow: hidden;
}
section#skills .header:after {
  content: "";
  background: #f4f4f4;
  width: 120%;
  height: 20%;
  position: absolute;
  bottom: -10%;
  left: -10%;
  transform: rotate(-2deg);
}

section#skills div.spacer.header h1.header-scroll {
  color: #f4f4f4;
  font-size: 2rem;
  text-align: center;
  padding: 10rem 0;
  display: block;
  position: initial;
  transform: inherit;
}

section#skills .spacer {
  min-height: 20rem;
}
dt:after {
  width: 100%;
  background-color: #e0e0e0;
  height: 0.5rem;
  content: "";
  display: block;
}

dd {
  background: red;
  width: 0;
  height: 0.5rem;
  position: relative;
  top: -0.5rem;
}
dd.html {
  background: #F44336;
}
dd.css {
  background: #2196F3;
}
dd.jquery {
  background: #FFCA28;
}
dd.scss {
  background: #F06292;
}
dd.javascript {
  background: #FFA000;
}
dd.php {
  background: #303F9F;
}

/* Footer */
footer#contact-form > h1 {
  display: inherit;
  position: inherit;
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
}